{% extends "base.html" %}
 {% load static %}
  {% block body_block %}
   
    <!-- offset search area start -->
    <div class="offset-search">
        <form action="#">
            <input type="text" name="search" placeholder="Sarch here...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- offset search area end -->
    <!-- body overlay area start -->
    <div class="body_overlay"></div>
    <!-- body overlay area end -->
    <!-- crumbs area start -->
    <div class="crumbs-area">
        <div class="container">
            <div class="crumb-content">
                <h4><span>Page</span> not Found</h4>
                <p class="crumb-title">Edification university ready for you</p>
            </div>
        </div>
    </div>
    <!-- crumbs area end -->
    <!-- error area start -->
    <div class="error-area ptb--120">
        <div class="container">
            <div class="error-content">
                <img src="assets/images/404.png" alt="image">
                <h2>Page not Found</h2>
                <p>The page you are looking is not available or has been removed. Try going to Home Page by using the button below.</p>
                <a class="btn btn-primary btn-round" href="index.html">Back To Home</a>
            </div>
        </div>
    </div>
    <!-- error area end -->


{% endblock %}