{% extends "base.html" %}
{% load static %}
{% block body_block %}

<!-- offset search area start -->
<div class="offset-search">
  <form action="#">
    <input type="text" name="search" placeholder="Sarch here...">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
<!-- offset search area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
<!-- crumbs area start -->
<div class="crumbs-area">
  <div class="container">
    <div class="crumb-content">
      <h4 class="crumb-title"><span>Our</span> teachers</h4>
    </div>
  </div>
</div>
<!-- crumbs area end -->
<!-- teacher area start -->
<div class="all-teachers  pt--120 pb--70">
  <div class="container">
    <div class="row">
      {% for x in tc %}
      <div class="col-lg-4 col-md-6 teachers">
        <div class="card mb-5">
          <img src="{{x.TeacherImage.url}}" alt="image">
          <div class="card-body teacher-content p-25">
            <h4 class="card-title mb-1"><a href="">{{x.teacher_name}}</a></h4>
            <span class="primary-color d-block mb-4">{{x.TeacherDesignations}}</span>
            <p class="card-text">W Lorem ipsum dolor sit amet, consectetur.</p>
              <a href="/teacher_details/{{x.id}}"><p>Read More..!</p></a>
            <ul class="list-inline">
              <li><a target="_blank" href="{{x.FacebookLink}}"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_blank" href="{{x.TwitterLink}}"><i class="fa fa-twitter"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-deviantart"></i></a></li>
              <li><a href="#"><i class="fa fa-github"></i></a></li> -->
            </ul>
          </div>
        </div><!-- card -->
      </div><!-- teacher single end -->
      {% endfor %}

    </div>
  </div>
</div>
<!-- teacher area end -->



<!-- cta area start -->
<div class="cta-area secondary-bg has-color ptb--50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-9">
        <div class="cta-content">
          <p class="mb-2">Click to Join the Advance Workshop</p>
          <h2>Training in advance networking</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cta-btn">
          <a class="btn btn-light btn-round" href="#">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cta area end -->

{% endblock %}
